params {
    // =====================================================
    // INPUT & ENVIRONMENT
    // =====================================================
    input_type       = 'fastq'      // fastq | bam
    samplesheet      = null
    singularity_path = null
    outfolder        = 'results'
    runID            = "${new Date().format('yyyyMMdd_HHmmss')}"
    run_mode         = 'germline'   // germline | tumor_only | tumor_normal | calibration
    pedigree         = null           // PED file for HC posteriors
    // =====================================================
    // REFERENCES
    // =====================================================
    fasta            = null
    fasta_dir        = null
    bed              = null
    strat_dir        = null         // GIAB stratification beds directory
    seq_type         = 'WES'        // WGS | WES
    calling_mode     = 'cohort'     // single | cohort
    interval_padding = 200          // WES only - for WGS always 0
    intervals_list   = null 
    dragen_mode      = true
    // =====================================================
    // ANNOTATIONS
    // =====================================================
    vep_cache       = null
    cache_version   = 115
    clinvar         = null
    dbnsfp          = null

    // =====================================================
    // TRUTH REGISTRY (Paths made absolute via projectDir)
    // =====================================================
    truth = [
        HG002: [
            vcf: "${projectDir}/deployment/reference/truth/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz",
            bed: "${projectDir}/deployment/reference/truth/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
        ],
        HG003: [
            vcf: "${projectDir}/deployment/reference/truth/HG003_GRCh38_1_22_v4.2.1_benchmark.vcf.gz",
            bed: "${projectDir}/deployment/reference/truth/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
        ],
        HG004: [
            vcf: "${projectDir}/deployment/reference/truth/HG004_GRCh38_1_22_v4.2.1_benchmark.vcf.gz",
            bed: "${projectDir}/deployment/reference/truth/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
        ]
    ]

// TODO: Add SEQC2 truth sets when available and compatible with pipeline design
    // somatic_truth = [
    //     SEQC2: [
    //         truth_snv_vcf   : "${projectDir}/deployment/reference/seqc2/SEQC2_highconf_sSNV.vcf.gz",
    //         truth_indel_vcf : "${projectDir}/deployment/reference/seqc2/SEQC2_highconf_sINDEL.vcf.gz",
    //         highconf_bed    : "${projectDir}/deployment/reference/seqc2/SEQC2_highconf_regions.bed",
    //         strat_dir       : "${projectDir}/deployment/reference/seqc2/stratifications"
    //     ]
    // ]

    // pon     = null
    // pon_tbi = null
}

// =====================================================
// PROFILES
// =====================================================
profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        runOptions = '--bind /dev/shm'
        
        process {
            executor      = 'local'
            errorStrategy = 'terminate'
            maxRetries    = 1

            // Container Assignments
            withLabel: 'qc'        { container = "${params.singularity_path}/qc.sif" }
            withLabel: 'gatk'      { container = "${params.singularity_path}/core.sif" }
            withLabel: 'benchmark' { container = "${params.singularity_path}/happi.sif" }
            withLabel: 'manta'     { container = "${params.singularity_path}/manta.sif" }
            withLabel: 'delly'     { container = "${params.singularity_path}/delly.sif" }
            withLabel: 'cnvkit'     { container = "${params.singularity_path}/cnvkit.sif" }
            withLabel: 'vep'     { container = "${params.singularity_path}/vep115.sif" }
            withLabel: 'spliceAI'     { container = "${params.singularity_path}/spliceAI.sif" }
            withLabel: 'STR'     { container = "${params.singularity_path}/str.sif" }

            // Resource Assignments
            withLabel: 'tiny'    { cpus = 1;  memory = 2.GB;   time = '1h'  }
            withLabel: 'small'   { cpus = 2;  memory = 6.GB;   time = '4h'  }
            withLabel: 'medium'  { cpus = 4;  memory = 16.GB;  time = '12h' }
            withLabel: 'large'   { cpus = 8;  memory = 32.GB;  time = '24h' }
            withLabel: 'xlarge'  { cpus = 16; memory = 64.GB;  time = '36h' }
            withLabel: 'xxlarge' { cpus = 36; memory = 128.GB; time = '48h' }
        }
    }
}

// =====================================================
// REPORTING
// =====================================================
def log_reports = "${params.outfolder}/${params.runID}/logs"

timeline {
    enabled   = true
    file      = "${log_reports}/execution_timeline.html"
    overwrite = true
}
report {
    enabled   = true
    file      = "${log_reports}/execution_report.html"
    overwrite = true
}
trace {
    enabled   = true
    file      = "${log_reports}/execution_trace.txt"
    overwrite = true
}
dag {
    enabled   = true
    file      = "${log_reports}/pipeline_dag.html"
    overwrite = true
}